---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
目前空间展示了<b>Volvo</b>三类车型中个人喜欢的<b>最具代表性的汽车: S90，V90，XC90</b>,都是该系列车型中的<b>佼佼者</b>。‘SPA’<b>（Scalable Product Architecture）</b>是沃尔沃汽车开发的一种模块化平台，用于生产中大型车型。该平台于2014年首次应用于XC90，后来扩展到S90、V90等车型。 
    </p>
    <p>
    Volvo is<b>a pioneer in the field of automotive passive safety</b>, the inventor of the three-point seatbelt, and the creator of many industry firsts in the field of automotive safety.
    </p>
</div>

<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/4.41.0/gradio.js"
></script>

<gradio-app src="https://GaoZhe0534-slices.hf.space" theme_mode="light"></gradio-app>

<gradio-app src="https://GaoZhe0534-mattergpt-cpu.hf.space" theme_mode="light"></gradio-ap


<div id="car">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="car row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-car.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
    {% endfor %}
</div>
